<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (profile()) {
      <div>
        <h2 data-cy="profileDetailsHeading"><span jhiTranslate="hrSolutionApp.profile.detail.title">Profile</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ profile()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="hrSolutionApp.profile.profileImage">Profile Image</span></dt>
          <dd>
            @if (profile()!.profileImage) {
              <div>
                <a (click)="openFile(profile()!.profileImage ?? '', profile()!.profileImageContentType)">
                  <img
                    [src]="'data:' + profile()!.profileImageContentType + ';base64,' + profile()!.profileImage"
                    style="max-width: 100%"
                    alt="profile"
                  />
                </a>
                {{ profile()!.profileImageContentType }}, {{ byteSize(profile()!.profileImage ?? '') }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="hrSolutionApp.profile.address">Address</span></dt>
          <dd>
            <span>{{ profile()!.address }}</span>
          </dd>
          <dt><span jhiTranslate="hrSolutionApp.profile.role">Role</span></dt>
          <dd>
            <span [jhiTranslate]="'hrSolutionApp.UserRole.' + (profile()!.role ?? 'null')">{{
              { null: '', ADMIN: 'ADMIN', RECRUITER: 'RECRUITER', EMPLOYER: 'EMPLOYER' }[profile()!.role ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="hrSolutionApp.profile.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'hrSolutionApp.UserStatus.' + (profile()!.status ?? 'null')">{{
              { null: '', ACTIVE: 'ACTIVE', DEACTIVATED: 'DEACTIVATED', BANNED: 'BANNED' }[profile()!.status ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="hrSolutionApp.profile.internalUser">Internal User</span></dt>
          <dd>
            <span>{{ profile()!.internalUser?.login }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/profile', profile()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
