<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-employer-heading" data-cy="EmployerCreateUpdateHeading" jhiTranslate="hrSolutionApp.employer.home.createOrEditLabel">
        Create or edit a Employer
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="hrSolutionApp.employer.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_label" jhiTranslate="hrSolutionApp.employer.label">Label</label>
          <input type="text" class="form-control" name="label" id="field_label" data-cy="label" formControlName="label" />
          @if (editForm.get('label')!.invalid && (editForm.get('label')!.dirty || editForm.get('label')!.touched)) {
            <div>
              @if (editForm.get('label')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_linkedinUrl" jhiTranslate="hrSolutionApp.employer.linkedinUrl">Linkedin Url</label>
          <input
            type="text"
            class="form-control"
            name="linkedinUrl"
            id="field_linkedinUrl"
            data-cy="linkedinUrl"
            formControlName="linkedinUrl"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_score" jhiTranslate="hrSolutionApp.employer.score">Score</label>
          <input type="number" class="form-control" name="score" id="field_score" data-cy="score" formControlName="score" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_internalUser" jhiTranslate="hrSolutionApp.employer.internalUser">Internal User</label>
          <select
            class="form-control"
            id="field_internalUser"
            data-cy="internalUser"
            name="internalUser"
            formControlName="internalUser"
            [compareWith]="compareUser"
          >
            @if (!editForm.get('internalUser')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['internalUser'])!.invalid && (editForm.get(['internalUser'])!.dirty || editForm.get(['internalUser'])!.touched)
        ) {
          <div>
            @if (editForm.get(['internalUser'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_wallet" jhiTranslate="hrSolutionApp.employer.wallet">Wallet</label>
          <select
            class="form-control"
            id="field_wallet"
            data-cy="wallet"
            name="wallet"
            formControlName="wallet"
            [compareWith]="compareWallet"
          >
            @if (editForm.get(['wallet'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (walletOption of walletsCollection; track $index) {
              <option [ngValue]="walletOption">{{ walletOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['wallet'])!.invalid && (editForm.get(['wallet'])!.dirty || editForm.get(['wallet'])!.touched)) {
          <div>
            @if (editForm.get(['wallet'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
